html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* flower des css start here  */
.flower-des{
    display: flex;
    width: 100%;
    height: 400px;
    background: rgba(229, 84, 115, 0.10);
}

.flower-des-title{
    padding: 6rem;
    flex-direction: column;
    
}

.flower-des h2{
    font-size: 50px;
}

.flower-des p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    width: 8rem;
    padding: .8rem;
    font-size: 15px;
    border-radius: 6px;
    background: #E55473;
    border: none;
    color: white;
}

.btn:hover{
    background-color: rgba(156, 40, 40, 0.848);
}

.flower-des-img{
    display: flex;
    margin-top: 10px;
    margin-right: 6rem;
}

.flower-des-img img{
    height: 390px;
    width: 300px;
}
/* flower des css End here  */

/* flower feature des css Start here  */

.flower-feature{
    padding: 5rem;
    margin-left: 5rem;
}

.flower-feature-title{
    text-align: center;
}
.flower-feature-title h2{
    font-size: 35px;
    padding: 10px;
}
.flower-feature-title p{
    font-size: 19px;
    color: rgba(39, 39, 39, 0.60);
    padding: 10px;
    width: 50%;
    margin-left: 17rem;
}
.first-feature{
    padding: .6rem;
    text-align: center;

}
.flower-img{
    width: 310px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 30px 0px 30px;

}

.flower-name{
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}

.flower-feature-body{
    display: flex;
}
/* flower feature des css End here  */


/* flower sign up css start here  */
.flower-sign-up{
    display: flex;
    width: 100%;
    height: 400px;
    background: rgba(229, 84, 115, 0.10);
}

.flower-sign-up-title{
    /* padding: 5rem 15rem; */
    text-align: center;
    margin: 7rem 10rem 0rem 15rem;
    
}



.flower-sign-up h2{
    font-size: 2rem;

}

.flower-sign-up p{
    color: rgba(39, 39, 39, 0.60);
    font-size: .7rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.flower-des-img{
    display: flex;
    margin-top: 10px;
    margin-right: 6rem;
}

.flower-sign-up-img img{
    width: 158px;
    height: 200px;
    margin-right: 15rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
}
/* flower sign up css End here  */

/* flower instagram  css Start here  */

.flower-instagram{
    padding: 4rem;
    margin-left: 3.5rem;
}

.flower-instagram-title{
    text-align: center;
}
.flower-instagram-title h2{
    font-size: 25px;
    padding: 10px;
}
.flower-instagram-title p{
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);
    padding: 10px;
    width: 50%;
    margin-left: 17rem;
}
.first-instagram{
    padding: .6rem;
    text-align: center;

}
.flower-instagram-img{
    width: 240px;
    height: 280px;

}


.flower-instagram-body{
    display: flex;
}
/* flower instagram  css End here  */


/* flower deals  css start here  */
.deals{
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    background-repeat:no-repeat;
    background-size: cover;
    margin-left: 8rem;
    margin-right: 7rem;
}

.deals-title{
    text-align: center;
    padding: 5rem;
}
.deals-title h2{
    font-size: 30px;
    color: #272727;
    padding: 5px;
}
.deals-title p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    padding: 5px;
}

.deals-body{
    text-align: center;
    margin-top: -4rem;
    margin-bottom: 1rem;
    
}

.deals-input{
    font-size: 15px;
    padding: 10px;
    width: 500px;
    margin-right: 4px;
    border-radius: 5px;
    border: none;
    margin-bottom: 4rem;
}
/* flower deals  css End here  */


/* footer  css start here  */
.flower-footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3rem;
}

.footer-h-one{
    color: #E55473;
    font-size: 30px;
}
.footer-h-one{
    font-size: 30px;
}
.footer-p-one{
    margin-left: 18rem;
    margin-right: 18rem;
    padding: 10px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
}

.footer-p-two{
    margin-left: 18rem;
    margin-right: 18rem;
    padding: 10px;
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}
/* footer  css End here  */


